<br>
<div class="container">
  <div class="row">
    <div class="card" 
         *ngFor="let user of users; let i = index"
         [class.active]="i == currentIndex"
         (click)="setActiveUser(user, i)">
      <div class="card-body  col-md-6">
        <h5 class="card-title"><strong>Name: </strong> {{user.name}}</h5>
        <p class="card-text"><strong>Email: </strong> {{user.email}}</p>
      </div>
    </div>
    
    <div class=" col-md-6">
      <div *ngIf="currentUser">
        <h4>User</h4>
        <div>
          <label><strong>Name:</strong></label> {{ currentUser.name}}
        </div>
        <div>
          <label><strong>Email:</strong></label>
          {{ currentUser.email}}
        </div>
    
        <button type="button" class="btn btn-dark" routerLink="/user/delete/{{currentUser.id}}">Change User</button>
      </div>
    
      <div *ngIf="!currentUser">
        <br />
        <p>Please click on a User...</p>
      </div>
    </div>
  </div>
</div>

<br>